
<div class="col-sm-15 col-md-15">
            <div class="well">
            <h1>Log in</h1>
<%= form_for(:session,url: login_path) do |f| %>

<%= f.label :email %>
<%= f.email_field :email,class: 'form-control' %>
<br>

<%= f.label :password %>
<%= f.password_field :password,class: 'form-control' %>
<br>
<%=	f.label	:remember_me,	class:	"checkbox	inline"	do	%>
<%=	f.check_box	:remember_me	%>
<span>Remember	me	on	this	computer</span>
<%	end	%>
<br>
<%= f.submit "Log in",class: "btn btn-primary" %>
<% end %>

<p> New user? <%= link_to "Sign up now!",signup_path, :class => "btn btn-danger btn-xs" %></p>
</div>
</div>
