
<div class="col-sm-15 col-md-15">
            <div class="well">
            <h1> Sign up Please !!</h1>
<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' %>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :email %>
<%= f.email_field :email %>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<%= f.label :password_confirmation,"Confirmation" %>
<%= f.password_field :password_confirmation %>
<br>
<%=  f.submit "Create my account" %>
<% end %>
</div>
</div>
