
<div class="col-sm-15 col-md-15">
            <div class="well">
            <div align ="center">
<h1>BLOG</h1>
</div>
<div align="left">
<br>
<h4>
<br>
Hey this the Developer this side saying and asking about your review which is really kind a important to us for making improvements ang the bugs and prons to get up for the best level of satisfaction.
<br>

All you need to do is to signup your Facebook account...like our facebook page that is "www.facebook.com/rails ebiz"and give comments,suggestion and whatever you want to say.it wont take long but that would really going to help us for improving the margin.
<br>

Please Use reach way of Us to You Eligibly and Sincerely....
You can also Tweet Us about your opinion on twitter.We would Glad to hear form you there.Our twitter account"www.twitter.com/rails_ebiz" and inform us with advise.
<br>

You can also subscribe and reach to us using Google+...Youtube...and Instagram for more Detailing.
<br>
</h4>



<nav class="round">
<%= image_tag("blogo.jpg", :alt => "Sample App", :class => "round",:width =>"300",:height=> "150" ) %>
</nav>

</div>

</div>
</div>
