
<div class="col-sm-15 col-md-15">
            <div class="well">
            <div align ="center">
<h1>CONTACT US</h1>

<h4>GENERAL ENQUIRIES</h4>
<p>
help@ebizstore.com
</p>
<h4>BUSINESS RELATED ENQUIRIES</h4>
<p>
biz@ebizstore.com
</p>
<h4>OUR OPERATING HOURS</h4>
<p>
weekdays 10am to 10pm
Closed on weekends & public holidays.
</p>

<h4>HOW TO GET HERE?P</h4>
<p>
Alight at Opposite Blk 150, Kaki Bukit Avenue 1, 8 stops later.
Take a 2 minutes walk into Sham Ali Industrial Park to Blk 145.
</p>

<h4>OUR HOTLINE</h4>
<p>
(+92)3311 667453
</p>

<h4>OUR POSTAL ADDRESS</h4>
<p>
145 Block Zip Ave 1 Level 4,
Sham Ali Industrial Park,
Pakistan(416007)
</p>
<div>

</div>
</div>
