<div class="col-sm-15 col-md-15">
            <div class="well">
            <div align ="center">
<h1>FAQ</h1>
</div>

<h2>.How to shop here?</h2>
<p>
just sign in and the else it will be as easier as it can be just go through the buttons up at your head or use side panel.
</p>

<h2>.How will i get my product uploaded for sale?<h2>
<p>
All you need is to get some pictures of your product which need to be clear and just attach it with some required info and your are good to go.
</p>

<h2>.What's bidding?</h2>
<p>
when you want to buy product at your mutually agreed price with seller you just bid it with your name and then just sit and wait for confirmation from seller's side.
</p>

<h2>.How can i contact with other person?</h2>
<p>
All you need is to leave your email address at product's bid form and it will be seller's responsibility to get to you if and only if he is agreed to your bidded price.
</p>

<h2>.Is Signup Necessary?</h2>
<p>
Yes..
</p>

<h2>.Why to give email address?<h2>
<p>
Because you need to inform certain informations in both the cases if u being bidder or seller.
</p>


                           </div>
                           </div>
