<!DOCTYPE html>
<html>
<head>

  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>
</head>
<body>

   <!-- <div class="navbar-header"> -->

<!--<div class="container"> -->
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="16.jpg" alt="girl" width="460" height="345">
      </div>

      <div class="item">
        <img src="7.jpg" alt="iphone" width="460" height="345">
      </div>

      <div class="item">
        <img src="8.jpg" alt="handbags" width="460" height="345">

      </div>

      <div class="item">
        <img src="9.jpg" alt="tv" width="460" height="345">
      </div>


       <div class="item">
        <img src="10.jpg" alt="tv" width="460" height="345">
      </div>


     <div class="item">
        <img src="zip9.jpg" alt="tv" width="460" height="345">
      </div>



    <div class="item">
        <img src="zip5.jpg" alt="tv" width="460" height="345">
      </div>


    <div class="item">
        <img src="zip10.jpg" alt="tv" width="460" height="345">
      </div>


    <div class="item">
        <img src="zip4.jpg" alt="tv" width="460" height="345">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</body>
</nav>
<div class="container">

    <div class="filler"></div>
  </div>
</div>
</style>
   <ul>
<div class="container">
    <ul class="row">
        <li link_to product_path class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="13.jpg"width="100" height="100"/></li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="14.jpg"width="100" height="100"/></li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="slide-6.png"width="100" height="100"/></li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="index.jpeg"width="100" height="100"/></li>
       <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="ss.jpeg"width="100" height="100"/></li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="iss.jpg"width="100" height="100"/></li>

<br><li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="lpy.jpeg"width="100" height="100"/></li></b>
         <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="22.jpg"width="100" height="100"/></li>
      <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="girl2.jpg"width="100" height="100"/></li>
 <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="24.jpg"width="100" height="100"/></li>
 <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="hg.jpg"width="100" height="100"/></li>
 <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="018.jpg"width="100" height="100"/></li>

 <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="019.jpg"width="100" height="100"/></li>
 <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="oo.jpg"width="100" height="100"/></li>
 <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="zip2.jpg"width="100" height="100"/></li>
 <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="zip12.jpg"width="100" height="100"/></li>
 <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="W2.jpg"width="100" height="100"/></li>
 <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><img src="zip8.jpg"width="100" height="100"/></li>
</ul>
</div>
   </ul>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
   <ul>
<br>

</body>

</footer>
<script src='//railsgirls.com/assets/bootstrap.js'></script>
</html>
