<%= form_for(@product_attachment) do |f| %>
  <% if @product_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_attachment.errors.count, "error") %> prohibited this product_attachment from being saved:</h2>

      <ul>
           <% @product_attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% end %>
<%= image_tag @product_attachment.avatar %>
<%= form_for(@product_attachment) do |f| %>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>
   <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
