<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-shopping-cart">
                            </span>Products</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-asterisk"></span><%= link_to'Checkout Product',products_path %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil"></span><%= link_to 'Register Product', new_product_path %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-search"></span><%=link_to 'Checkout Bids',pages_zip_path %>                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-picture"></span><%= link_to 'Search Through Images',product_attachments_path %>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Modules</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        Orders <span class="label label-success">$ 320</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Invoices
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Shipments
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       Tax
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">                            </span>Account</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
<span class="glyphicon glyphicon-user"></span><%= link_to 'Your Products',products_path %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
<span class="glyphicon glyphicon-user"></span><%= link_to 'Your Bid',products_path %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
<span class="glyphicon glyphicon-user"></span><%= link_to 'Edit Profile', users_path %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span>
                                            Delete Account
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="well">
<p id="notice"><%= notice %></p>
<table>
<tbody>
 <% @product_attachments.each do |product_attachment| %>
        <tr>
        <td><%= image_tag product_attachment.avatar_url(:thumb) if product_attachment.avatar? %></td>
     </tr>
    <% end %>
  </tbody>

  <div class="row">
  <div class ="thumbnail">
  <%= image_tag("wer.png", :alt => "Sample App", :class => "round",:width =>"300",:height=> "200" ) %>
  </div>
  </div>
   <%= image_tag("images7.jpeg", :alt => "Sample App", :class => "round",:width =>"200",:height=> "200", :align=>"right" ) %>
  <%= image_tag("bid.jpeg", :alt => "Sample App", :class => "round",:width =>"200",:height=> "200", :align=>"right") %>
  <div class ="caption">
  <h1> You Can Bid On These Products (OR) If You Are Agreed On Actual Price ,You Can Buy It Now Also! </h1>
  </div>
  <br>
  <%= image_tag("uu.png", :alt => "Sample App", :class => "round",:width =>"400",:height=> "500", :align=>"right" ) %>
   <div class ="caption">
  <b> Find Your Favourite Product Now!.. If Interesting In Seeing Any Product Detail,Click The Button Below </b>
  <br>
              <%= link_to 'Details', products_path(@product) , :class => "btn btn-info btn-xs" %>
  </div>

</table>

<br>
<%= link_to 'Back', products_path  , :class => "btn btn-danger btn-xs"%>
</div>
</div>
</div>
</div>
