<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product_attachment.product_id %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @product_attachment.avatar %>
</p>


<%= link_to 'Back', product_attachments_path %>
