/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap-datepicker
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
    color : #white;
    text-align : center;
    font-family: "SIMPSON";
}
form {
    width: 200px;
    margin: 0 auto;
}
body {
    margin-bottom: 60px;
}
footer {
    position:fixed;
    bottom:0;
    position:absolute;
}
th { border-bottom: 1px solid #DDD; }

table#table1 {
    width:70%;
    margin-left:15%;
    margin-right:15%;
  }

.image-container1 {
    width:30%;
    position:absolute;
    float:right;
    right:0;
    height:50px;
}

.navbar-custom {
    color: white;
    background-color: #D8D8D8;
}
.navbar-right{
     color: #2E2E2E;
     }
     .side-conatiner{
     position:left;
     width:30%;
     }
     body,html{
    height: 100%;
  }

  body{margin-top:50px;}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
