<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-shopping-cart">
                            </span>Products</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-asterisk"></span><%= link_to'Checkout Product',products_path %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil"></span><%= link_to 'Register Product', new_product_path %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-search"></span><%=link_to 'Checkout Bids',pages_zip_path %>                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-picture"></span><%= link_to 'Search Through Images',product_attachments_path %>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Modules</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Invoices</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Shipments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Tex</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">                            </span>Account</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
<span class="glyphicon glyphicon-user"></span><%= link_to 'Your Products',products_path %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
<span class="glyphicon glyphicon-user"></span><%= link_to 'Your Bid',products_path %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
<span class="glyphicon glyphicon-user"></span><%= link_to 'Edit Profile', users_path %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span>
                                            Delete Account
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="well">
        <%= form_for(@product, :html => { :multipart => true }) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.fields_for :product_attachments do |p|%><%= p.label :Images%>: <%= p.file_field :avatar, :multiple => true, name: "product_attachments[avatar][]" %>
   <% end %>
       <%= f.label :name %>             :<%= f.text_field :name %>
<br>
    <%= f.label :description %>          :<%= f.text_area :description %>
<br>
    <%= f.label :category_id %>          :<%= f.collection_select(:category_id, Category.all, :id, :name) %>
<br>
     <%= f.label :subcategory %> :<%= f.grouped_collection_select(:subcategory_id, Category.order(:name), :subcategories, :name, :id, :name) %>
<br>
    <%= f.label :initial_price %> :<%= f.text_field :initial_price %>
<br>
    <%= f.label :selling_price %>: <%= f.text_field :selling_price %>
<br>
     <%= f.label :availibility%> : <%= f.label :availibility, "Yes", :value => "Availble"  %><%= f.radio_button :availibility, true %><%= f.label :availibility, "No", :value => "Sold" %><%= f.radio_button :availibility, false, :checked => true %>
<br>
    <%= f.label :opening_date %>: <%= f.text_field :opening_date ,  "data-provide" => 'datepicker' %>
<br>
    <%= f.label :closing_date %>: <%= f.text_field :closing_date ,  "data-provide" => 'datepicker' %>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
            </div>
        </div>
    </div>
</div>
