
 <div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-shopping-cart">
                            </span>Products</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-asterisk"></span><%= link_to'Checkout Product',products_path %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil"></span><%= link_to 'Register Product', new_product_path %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-search"></span><%=link_to 'Checkout Bids',pages_zip_path %>                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-picture"></span><%= link_to 'Search Through Images',product_attachments_path %>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Modules</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Invoices</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Shipments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Tex</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">                            </span>Account</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
<span class="glyphicon glyphicon-user"></span><%= link_to 'Your Products',products_path %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
<span class="glyphicon glyphicon-user"></span><%= link_to 'Your Bid',products_path %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
<span class="glyphicon glyphicon-user"></span><%= link_to 'Edit Profile', users_path %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span>
                                            Delete Account
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="well">
            <id="notice"><%= notice %></p>
<div class="image-container1">
<% @product_attachments.each do |p| %>
  <%= image_tag (p.avatar_url  (:thumb).to_s) %>
<% end %>
</div>
<span style="text-decoration: underline;" "align: center;">"<strong><%= @product.name %>"</span></strong>

  <br>
  <table id="table1" border="3">
 <strong>Description:-</strong><%= @product.description %>
  <br>

  <strong>Subcategory:-</strong>  <%= @product.subcategory_id %>
  <br>

  <strong>Initial price:-</strong> $<%= @product.initial_price %>
  <br>

  <strong>Selling price:-</strong> $<%= @product.selling_price %>
<br>
<span style="text-decoration: underline;" "align: center;><strong> Running price:-</span></strong> $<% @bprice = Bid.group('product_id').maximum(:bidding_price)[@product.id] %><% if @bprice %><%= @bprice %><% else %><%= @product.initial_price %><% end %>
  <br>

<strong>Availibility:-</strong>   <%= @product.availibility %>
  <br>

  <strong>Opening date:-</strong>  <%= @product.opening_date %>
  <br>

<strong>Closing date:-</strong>  <%= @product.closing_date %>
  <br>

<p>
<h2><b> <%= link_to "Bids", "#", id: "bids-link" %></b></h2>
</p>
   <section id="bids-section">
    <ol id="bids">
     <%= render @product.bids %>
    </ol>
  <p>
  <%= image_tag("hh.jpeg", :alt => "Sample App", :class => "round",:width =>"250",:height=> "200", :align=>"right" ) %>
<h2> <strong>Start Bidding !!</strong></h2>
<%= form_for([@product, @product.bids.build], remote: true) do |f| %>
<b> One Warning: Seller Can't Bids Its Own Product </b>
  <p>
    <%= f.label :bidding_price %><br>
    <%= f.text_field :bidding_price %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</section>
</p>

<%= link_to 'Edit', edit_product_path(@product) , :class => "btn btn-info btn-xs" %> |

<%= link_to 'Back', products_path  , :class => "btn btn-danger btn-xs"%>
<br>
</div>
</div>
