<header class="navbar navbar-fixed-top navbar-custom">
  <div class="navbar-inner">
    <div class="container">
     <nav>

<nav class=" navbar-right">
<span class="glyphicon glyphicon-user">
<% if logged_in? %>Hi <%= current_user.name %><br>
<%= link_to "LogOut",logout_path,method: "delete", :class => "btn btn-danger btn-xs" %><br>
<%= link_to "Recovery",pages_panel_path, :class => "btn btn-danger btn-xs" %>
<% else %>
<%= link_to "LogIn",login_path, :class => "btn btn-danger btn-xs" %>
<% end %>
</span>
</nav>

        <%= link_to("Home", root_path, class: "btn btn-default") %>
        <%= link_to("Blog", pages_blog_path, class: "btn btn-info") %>
        <%= link_to("About Us", pages_about_path, class: "btn btn-primary") %>
        <%= link_to("Contact",pages_contact_path, class: "btn btn-warning") %>
        <%= link_to("FAQ", pages_faq_path, class: "btn btn-danger") %>
</nav>
</div>
</div> 

<IMG STYLE="position:absolute; TOP:0px; center:2px; WIDTH:80px; HEIGHT:60px" SRC="logo.png">

</header>
