<!DOCTYPE html>
<html>
<head>
  <title>FYPPP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render'layouts/stylesheets'%>
</head>
<body>
<div class="container">
<%= render'layouts/header'%>
    <section class ="round">
 <%= yield %>
</section>
<% flash.each do |message_type,message| %>
<%= message %>
<% end %>
<%= render'layouts/footer' %>
</body>
</html>
